{% extends "base2.html" %}
{% block style %}<link rel="stylesheet" type="text/css" href="/static/css/index.css">{% endblock %}
{% block title %}黑狮情报所 - 激战2玩家社区{% endblock %}
{% block index_left %}	
	<div class="index_left">
		<!--<div class="block_wrap">
			<div class="first_list">公告</div>
			{% for item in ann_list %}
			<div class="article_title clearfix">
				<div class="title_title">
				<h3 class="title"><a href="/topic/{{ item.id }}" class="title_link">{{ item.title }}</a></h3>
				<p class="date">{{ item.get_display_datetime }}</p>
			</div>
			</div>
			{% endfor %}
		</div>-->
		<div class="block_wrap recently">
			<div class="first_floor">
				<a href="/" class="tab current">全部帖子</a>
				{% for node in nodes%}
				<a href="/?node={{ node.title }}" class="tab ">{{ node.title }}</a>
				{% endfor %}
				<a href="/posttopic/" class="release_topic my_btn">发表新话题</a>
			</div>
			<!--<div class="second_floor">
				<a href="javascript:void(0);" class="second_tab">PVE</a>
				<a href="javascript:void(0);" class="second_tab">PVP</a>
				<a href="javascript:void(0);" class="second_tab">WVW</a>
				<a href="javascript:void(0);" class="second_tab">幻化区</a>
				<a href="javascript:void(0);" class="second_tab">职业区</a>
				<a href="javascript:void(0);" class="second_tab">工会厅</a>
				<a href="javascript:void(0);" class="second_tab">休闲区</a>
				<a href="javascript:void(0);" class="second_tab">管理区</a>
			</div>-->
			{% for item in topic_list %}
				{% if forloop.last %}
				<div class="article_title last_list clearfix">
				{% else %}
				<div class="article_title clearfix">
				{% endif %}	
					<a href="javacript:void(0);" class="avatar"><img src="{{ item.user.userinfo.image.url }}"></a>
					<div class="title_wrap">
						<h3 class="title"><a href="/topic/{{ item.id }}" class="title_link">{{ item.title }}</a></h3>
						<p class="date"><a href="javascript:void(0)" class="title_source">{{ item.node.title }}</a>
							{{ item.get_display_datetime }}
							{{ item.get_reply_count }}个回复
							{% if item.get_last_reply %}
							，最后一次回复{{ item.get_last_reply.user.username }}
							{% endif %}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
