{% extends "base.html" %}

{% block title %}登录{% endblock %}
{% block js %}<script type="text/javascript" src="/static/js/login.js"></script>{% endblock %}
{% block content %}	
	<div class="wrap">
		<div class="formdiv">
			<form action="#" id="login_form" class="form_style" method="post">
				<h2>登入</h2>
				<div class="form_group">
					<label for="username">账号:</label>
					<input type="text" id="username" class="form_input" name="username" placeholder="请输入您的账号"/>
				</div>
				<div class="form_group">
					<label for="password">密码:</label>
					<input type="password" id="password" class="form_input" name="password" placeholder="请输入您的密码"/>
				</div>
				<div class="form_group">
					<input type="checkbox" id="cookie" class="cookie" name="cookie"/>
					<label for="cookie">一个月内免登录</label>
				</div>
				<div class="form_group">
					<button class="btn" id="submit-btn">登入</button>
					<a href="/forget/" class="form_link">忘记密码</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}